:root {
    --mainColor:#003333;
    --DarkFontColor:#333333;
    --LightFontColor:#fafafa;
    --NavHeight:70px;
    --PaddingsLR:10vw;
    --borderColor:#dddddd;
}

html {

}

body {
  margin:0px;
  margin-bottom: 30px;
  background: #fafafa;
  color: var(--DarkFontColor);
}

header {
    padding-left: var(--PaddingsLR);
    padding-right: var(--PaddingsLR);
    background-color:var(--mainColor);
    position:fixed;
    width: 100vw;
    height:var(--NavHeight);
    vertical-align: middle;
    line-height: var(--NavHeight);
    top:0px;
    z-index: 2;
}


h1, h2, h3, h4, h5, h6 {
  color: var(--DarkFontColor);
}



ul {
  margin: 0;
}

li {
    border: none;
    color:var(DarkFontColor);

}


.main-content {
    padding-top: calc(var(--NavHeight) + 5vh);
    padding-left: var(--PaddingsLR);
    padding-right: var(--PaddingsLR);
    width: 75vw;
}

.new-post {
    padding: 20px;
    background-color: white;
    border: 1px solid var(--borderColor);
    border-radius: 3px;
}



.right-panel {
    padding: 15px;
    background-color: white;
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    width: 22vw;
    position: fixed;
    left: 70vw;
    top: calc(70px + 5vh);
}

.right-panel-link {
    color: var(--DarkFontColor);
    display: block;
    line-height: 2.5rem;
}

.right-panel-link:hover {
    color: #428bca;
    text-decoration: none;
}

.right-panel-nav {
    margin: 15px;
}

.link-nav {
    color:var(--LightFontColor);
    padding:1vw;

}

.link-nav:hover {
    color:#bababa;
    text-decoration: none;
}

.nav-box-left {
    float:left;

}

.nav-box-right {
    text-align: right;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  margin-bottom: 10px;
}

.article-title {
  color: #444444;
  float:left;
  padding: 5px;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  margin-top:-1rem;
  width: 50%;
  float: left;
  white-space: pre-line;
  line-height: 1.6rem;
}

.article-content-location {
    position: relative;
    right: 0px;
    margin-top: -1rem;
    width:35%;
    white-space: pre-line;
    line-height: 1.6rem;
}


.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding:15px;
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid var(--borderColor);
  text-align: right;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.accordion {
    position:relative;
    z-index: 1;
}

.main-tittle {
    text-align: center;
    line-height: 2rem;
}

.request-progress {
    width: 100%;
    text-align: center;
    font-size: 2em;
}

.in-progress {
    color: var(--mainColor);
}

.done {
    color: #008080;
}

.todo {
    color: #a4bfbf;
}

.gielda-dodaj {
    color: #56c8f3;
    border-radius: 5px;
    padding: 10px;
    border: solid 2px;
    margin: 0 50% 20px;
    display: inline-block;
    text-align: center;
    transition: 0.2s;
}

a.gielda-dodaj:link {
  text-decoration: none;

}
a.gielda-dodaj:hover {
  color: white;
  background-color: #56c8f3;
}
