{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'Tablica/main.css' %}">
    <script src="https://kit.fontawesome.com/02d7796f10.js" crossorigin="anonymous"></script>

    {% if title %}
        <title>Kupudło - {{ title }}</title>
    {% else %}
        <title>Kupudło</title>
    {% endif %}


</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'index' %}"><img src="{% static "Tablica/logo.gif" %}" width="70" height="70" alt = "KuPudło" /></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'index' %}">Strona główna</a>
              <a class="nav-item nav-link" href="{% url 'home-about' %}">O nas</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}

                <a class="nav-item nav-link" href="{% url 'logout' %}">Wyloguj</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Zaloguj</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Zarejestruj</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">

      <div class="row">


        <div class="col-md-8">

          {% if messages %}
            </br>
            </br>
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
            {% else %}
            </br>
            </br>
          {% endif %}

          {% block body %}{% endblock %}

        </div>





        <div class="col-md-4">

            <br/>
            <br/>

              <div class="content-section">

                <h4>Twoje konto</h4>

                  <ul class="list-group">
                    <li class="list-group-item list-group-item-light"><a style="color:#00264d" href="{% url 'ogloszenie-nowe' %}"><i class="fas fa-plus-square"></i> Dodaj ogłoszenie</a></li>
                    <li class="list-group-item list-group-item-light"><a style="color:#00264d" href="{% url 'index' %}"><i class="far fa-list-alt"></i> Twoje ogłoszenia</a></li>
                    <li class="list-group-item list-group-item-light"><a style="color:#00264d" href="#"><i class="fas fa-book-open"></i> Jak zamawiać opakowania?</a></li>
                    <li class="list-group-item list-group-item-light"><a style="color:#00264d" href="{% url 'profile' %}"><i class="fas fa-user-edit"></i> Edycja profilu</a></li>
                  </ul>
                </p>
                  {% block filter %}{% endblock %}
              </div>
            </div>

        </div>


    </main>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>