{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- my CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'Tablica/main.css' %}">
    <!-- fonts -->
    <script src="https://kit.fontawesome.com/02d7796f10.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>


    {% if title %}
        <title>Kupudło - {{ title }}</title>
    {% else %}
        <title>Kupudło</title>
    {% endif %}

</head>

<body>
    <header>
        <div class="nav-box-left">
            <a class="link-nav" href="{% url 'index' %}">
                Kupudło - logo
            </a>
            <a class="link-nav"  href="{% url 'index' %}">
                Strona główna
            </a>
            <a class="link-nav" href="{% url 'home-about' %}">
                O nas
            </a>
        </div>
        <!-- Navbar Right Side -->
        <div class="nav-box-right">
            {% if user.is_authenticated %}

                <a class="link-nav" href="{% url 'logout' %}">
                    Wyloguj
                </a>
            {% else %}
                <a class="link-nav" href="{% url 'login' %}">
                    Zaloguj
                </a>
                <a class="link-nav" href="{% url 'register' %}">
                    Zarejestruj
                </a>
            {% endif %}
        </div>
    </header>
    <div class="right-panel">

        <h4>Twoje konto</h4>
        <div class="right-panel-nav">
            <a class="right-panel-link" href="{% url 'ogloszenie-nowe' %}">
                <i class="fas fa-plus-square"></i>
                Dodaj ogłoszenie
            </a>
            <a class="right-panel-link" href="{% url 'index' %}">
                <i class="far fa-list-alt"></i>
                Twoje ogłoszenia
            </a>
            <a class="right-panel-link" href="#">
                <i class="fas fa-book-open"></i>
                Jak zamawiać opakowania?
            </a>
            <a class="right-panel-link" href="{% url 'profile' %}">
                <i class="fas fa-user-edit"></i>
                Edycja profilu
            </a>
        </div>
        {% block filter %}{% endblock %}
    </div>

    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% else %}

    {% endif %}

    <div class="main-content">
        {% block body %}{% endblock %}
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>