{% extends "Tablica/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}


<h4>
    Dodawanie nowego ogłoszenia
</h4>
<div class="new-post">
    
    {{ form.nazwa_opakowania|as_crispy_field }}
    {{ form.termin_dostawy|as_crispy_field }}
    {{ form.ilość|as_crispy_field }}
    {{ form.długość_mm|as_crispy_field }}
    {{ form.szerokość_mm|as_crispy_field }}
    {{ form.wysokość_mm|as_crispy_field }}
    {{ form.konstrukcja|as_crispy_field }}
    {{ form.typ_nadruku|as_crispy_field }}
    {{ form.ilość_kolorów|as_crispy_field }}
    {{ form.powierzchnia_zadruku|as_crispy_field }}
    {{ form.województwo|as_crispy_field }}
    {{ form.miejscowość|as_crispy_field }}
    {{ form.Paleta|as_crispy_field }}
    {{ form.treść|as_crispy_field }}
</div>







{% endblock %}
